 .u-section-1 {
  min-height: 617px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 617px;
  background-image: url("images/pexels-photo-4394109.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 20px 0 0 225px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
}

.u-section-1 .u-image-2 {
  min-height: 617px;
  background-image: url("images/pexels-photo-4394112.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-4 {
  margin: 20px 244px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  margin-left: 0;
  margin-right: auto;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 352px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 509px;
  }

  .u-section-1 .u-image-2 {
    min-height: 509px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 177px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 247px;
  }

  .u-section-1 .u-image-1 {
    min-height: 390px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 116px;
  }

  .u-section-1 .u-image-2 {
    min-height: 390px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 104px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1231px;
  }

  .u-section-1 .u-image-1 {
    min-height: 585px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 585px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 490px;
  }

  .u-section-1 .u-image-1 {
    min-height: 368px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 368px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}